.quote{
    background-color: #e5e7eb;
    height: 300px;
}

.container{
    height: 100%;
    font-style: italic;
}

.quoteText{
    position: relative;
    top: 50%;
}
.container p{
    position: relative;
    top: 55%;
    right: 30%;
    text-align: right;
}

@media (max-width: 600px) {
    .quoteText {
        top: 25%;
    }
    .container p {
        top: 30%
    }
}