.quote{
    background-color: #e5e7eb;
    height: 300px;
}

.container{
    height: 100%;
    font-style: italic;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container p{
    width: 70%;
    text-align: right;
}
