.hero {
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    gap: 20px
}

.hero div{
    height: 95%;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 20px;
}

h1{
    margin-bottom: 20px;
}

.text {
    width: 80%;
}

.pictureContainer{
    flex: 0 1 400px;
    max-width: 400px;
    justify-content: center;
    justify-self: center;
    position: relative;
    right: 100px;
    bottom: 30px;

}

.picture{
    flex: 0 1 auto;
    border-radius: 20%;
    padding: 20px;
}

@media (max-width: 900px) {
    .hero{
        flex-direction: column;
        height: 800px;
    }
    .hero div{
        margin-top:25px;
        width: 90vw;
        justify-content: space-around;
    }
    .pictureContainer{
        right: 0;
        bottom: 0;
    }
}
