header{
    height: 200px;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}
.link{
    width: 200px;
}
.logo{
    height: 100%;
    border-radius: 50%;
    transition: 0.2s;
}
.logo:hover {
    transform: scale(1.05);
}

@media (max-width: 600px) {
    header{
        justify-content: space-between;
    }
    .logo{
        position: relative;
        left: 30px;
    }
}