.main{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    align-items: center;
    min-height: 100px;
}

.logo2{
    position: absolute;
    top: -80px;
    right: 20px;
}
.logo,
.logo2{
    height: 100px;
    min-width: 100px;
    transition: 0.2s;
}
.logo:hover,
.logo2:hover {
    transform: scale(1.05);
    opacity: .95;
}
