:root{
    --neon-blue: deepskyblue;
    --dark-blue: #262626;
    --neon-pink: #FF6EC7;
    --dark-red: #6b2230;
    --neon-green: #0eff00;
    --dark-green:  #28501e;
    --current-neon: var(--neon-blue);
    --current-dark: var(--dark-blue);
}
.wrapper{
    padding: 10px;
    margin: 0;
    display: flex;
    text-transform: uppercase;
    flex-direction: row;
}
.wordBox{
    display: flex;
}
.wrapper li{
    list-style: none;
    /*font-size: 2em;*/
    letter-spacing: 15px;
    font-family: 'Zen Tokyo Zoo', cursive;

}

.neonBlue,
.neonPink,
.neonGreen{
    animation: animate 5s infinite linear;
}

.neonBlue{
    color:#262626;
    --current-neon: var(--neon-blue);
    --current-dark: var(--dark-blue);
}
.neonPink{
    color: #611f2c;
    --current-neon: var(--neon-pink);
    --current-dark: var(--dark-red);
}
.neonGreen{
    color: #28501e;
    --current-neon: var(--neon-green);
    --current-dark: var(--dark-green);
}

.space{
    width: 2em;
}

@keyframes animate{
    0%{
        color: var(--current-dark);
        text-shadow:none;
    }
    20% {
        color: var(--current-neon);
        text-shadow: 0 0 7px var(--current-dark), 0 0 20px var(--current-neon);
    }
    30%{
        color:var(--current-dark);
        text-shadow:none;
    }
    40% {
        color: var(--current-neon);
        text-shadow: 0 0 7px var(--current-dark), 0 0 20px var(--current-neon);
    }
    50%{
        color:var(--current-dark);
        text-shadow:none;
    }
    60%{
        color:var(--current-dark);
        text-shadow:none;
    }
    75% {
        color: var(--current-neon);
        text-shadow: 0 0 7px var(--current-dark), 0 0 20px var(--current-neon);
    }
    100%{
        color:var(--current-dark);
        text-shadow:none;
    }
}

@media (max-width: 900px){
    .wrapper{
        flex-direction: column;
    }
}